html, body {
    background-color: #b1becc;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.contenedor{
	height: 99%;
	width: 95%;
	background-color: #b1becc;
    margin: 0 auto;
}
.margen{
	border: solid;
	border-color: white;
}
.btn {
    color: black;
    font-weight: 600;
    border-radius: 0.5vw;
    font-size: 1.6vw;
    background-color: white;
    border: 0.2vw solid #b7b7b7;
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.btn:hover {
    background-color: #DF7931;
}